/* carnet-ejemplo1.css   AL20006  */
pais {background-color:navy;}
moneda {color:lime;font-size:0.5cm; display:block;}
codigo-telefonico{color:aqua;font-size:0.5cm; display:block;}
idioma{color:fuchsia;font-size:0.5cm; display:block;}
idioma-autoctono{color:silver;font-size:0.5cm; display:block;}
cabecera{background-color:black; color:yellow; display:block;} 
habitantes {color:orange;display:block;} 
altura {color:teal; display:block;}
superficie {color:yellow; display:block;}
/*direccion {color:lime;font-size:5cm; display:block;} 
direccion {color:lime;font-size:1cm; display:block;} 
telefono {color:lime;font-size:1cm; display:block;}
email {color:lime;font-size:1cm; display:block;}
dui {color:lime;font-size:1cm; display:block;}*/

/*ficha {background-color:black; display:block;} nombre {color:white; 
display:inline;} apellido {color:purple; display:inline;}
direccion {color:yellow;font-size:1cm; display:none;} 
telefono {color:yellow;font-size:1cm; display:none;}
email {color:yellow;font-size:1cm; display:none;}
website {color:yellow;font-size:1cm; display:none;}*/